.nav_btn {
    color: #0E3E1E;
}

.nav_btn:hover {
    /* background-color: #198754; */
    /* border-radius: 10px; */
    color: white;
}

.navbar {
    background-color: #0e3e1e27;
}

.footer_bg {
    background-color: #0e3e1e27;
}

.copyright_text {
    color: #0E3E1E;
}