/* css animation text comes from top start */

.gbl_animate_bottom {
    position: relative;
    animation: animatebottom 1.5s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

/* css animation text comes from top end */


/* start css animation text comes from left */

.gbl_animate_left {
    position: relative;
    animation: animateleft 2s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

/* end css animation text comes from left */

/* start css animation text comes from right */
.gbl_animate_right {
    position: relative;
    animation: animateright 2s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* end css animation text comes from right */













@media (min-width: 320px) and (max-width: 768px) {

    .section-title {
        margin: 25px 0px 25px 0px;
        font-size: 40px;
    }
}