.hero_bg {
    background-image: url(../../assets/images/background/hero_bg.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

.about_img {
    width: 86%;
    height: 280px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #0E3E1E;
    /* font-size: 200px; */
}