.slider_height {
    height: 300px;
}

.slide-right,
.slide-left {
    width: 100%;
}



/***** Slide Left *****/
.slide-left {
    animation: 3s slide-left;
}

@keyframes slide-left {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 50%;
    }
}

/***** Slide Right *****/
.slide-right {
    animation: 3s slide-right;
}

@keyframes slide-right {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 50%;
    }
}
















.slide-up {

    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both
}

@keyframes slide-up {


    /* 0% transform: translateY(100px) 100% transform: translateY(0) */
}