.slider_height {
    height: 300px;
}


















.slide-right,
.slide-left {
    width: 100%;
}



/***** Slide Left *****/
.slide-left {
    animation: 3s slide-left;
}

@keyframes slide-left {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 50%;
    }
}

/***** Slide Right *****/
.slide-right {
    animation: 3s slide-right;
}

@keyframes slide-right {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 50%;
    }
}