.product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.wrapper {
    position: relative;
    /* width: 210px; */
    transition: all 200ms ease-in-out;
}

.image-wrapper {
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1000ms ease-in-out;
}

img {
    transition: all 1000ms ease-in-out;
}

.wrapper:hover img {
    transform: scale(2);
    object-position: bottom;
}