.product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}



.wrapper {
    position: relative;
    /* width: 210px; */
    transition: all 200ms ease-in-out;
}

.image-wrapper {
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1000ms ease-in-out;
}

img {
    transition: all 1000ms ease-in-out;
}

.wrapper:hover img {
    transform: scale(2);
    object-position: bottom;
}


.title {
    background-color: rgba(9, 9, 9, 0.221);
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    padding: 7px 0;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}

.bg-image:hover .title {
    /*becomes visible on hover*/
    opacity: 1;
}

.custom_btn {
    color: #157347;
}

.custom_btn:hover {
    color: white;
    background-color: #157347;
    padding: 8px;
    border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .exp_cus_pad {
        padding: 0 90px;
    }

}

@media (min-width: 778px) and (max-width: 1024px) {
    .product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

}