body {
  margin: 0;

  font-family: 'Josefin Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .product_bg {
  background-color: rgba(113, 209, 113, 0.185);
} */

h1 {
  font-family: 'Josefin Sans', sans-serif;
  /* color: #0E3E1E; */
  font-size: 200px;
}

