.segment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section-title {
    margin: 25px 0px 40px 0px;
    font-size: 54px;
    line-height: 50px;
}

.product_bg {
    background-color: rgba(113, 209, 113, 0.185);
}

.segment_bg {
    background-color: rgba(240, 153, 153, 0.064);
}





@media (min-width: 320px) and (max-width: 768px) {

    .section-title {
        margin: 10px 0px 0px 0px;
        font-size: 40px;
    }
}