.segment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section-title {
    margin: 25px 0px 40px 0px;
    font-size: 54px;
    line-height: 50px;
}

.product_bg {
    background-color: rgba(113, 209, 113, 0.185);
}

.segment_bg {
    background-color: rgba(240, 153, 153, 0.064);
}

/* css animation text comes from top start */
/* 
. {
    position: relative;
    animation: animatebottom 1.5s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
} */

/* css animation text comes from top end */


/* start css animation text comes from left */

/* . {
    position: relative;
    animation: animateleft 2s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
} */

/* end css animation text comes from left */

/* start css animation text comes from right */
/* . {
    position: relative;
    animation: animateright 2s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
} */

/* end css animation text comes from right */













@media (min-width: 320px) and (max-width: 768px) {

    .section-title {
        margin: 25px 0px 25px 0px;
        font-size: 40px;
    }
}