.segment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section-title {
    margin: 25px 0px 40px 0px;
}

.product_bg {

    background-color: rgba(113, 209, 113, 0.185);

    /* background-color: rgb(0, 255, 85); */
    /* background-image: url(../../assets/images/background/wave.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    /* mask-image: url(../../assets/images/background/wave.svg); */
}

.segment_bg {
    background-color: rgba(240, 153, 153, 0.064);
}


/* .waveContainer {
    height: 100vh;
    overflow: hidden;
}

.viewBox {
    height: 100%;
    width: 100%;
}

.path {
    stroke: none;
    fill: rgb(237, 115, 115); */
/* } */